body,
html {
    height: 100%;
}


a {
    text-decoration: none;
}

.logo-slika {
    text-align: center;
}

.logo-slika img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.modal-backdrop {
    /* - no overlay */
    display: none;
}

.modal {
    /* - custom overlay */
    background-color: rgba(10, 10, 10, 0.45);
}

@media (min-width: 1199.99px) {

    .margin-test {
        margin-right: 5;
        margin-top: 5;

    }

    .logo-slika a {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 550px auto;
        height: 150px auto;

    }

    .container-group {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        width: 70% !important;
        padding-right: calc(var(--mdb-gutter-x)*0.5);
        padding-left: calc(var(--mdb-gutter-x)*0.5);
        margin-right: auto;
        margin-left: auto
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        width: 50% !important;
        padding-right: calc(var(--mdb-gutter-x)*0.5);
        padding-left: calc(var(--mdb-gutter-x)*0.5);
        margin-right: auto;
        margin-left: auto
    }

    .slika-iza {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("er-godwyn-the-golden-assassination.jpg");
        position: relative;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        z-index: 2;
        background-position: 100%;

    }

    .btn {
        border: 0 !important;
    }

    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    .pagination {
        justify-content: left;
    }

}




@media (min-width:830px) and (max-width:1199.98px) {

    .margin-test {
        margin-right: 5;
        margin-top: 5;
    }


    .responsive-font-tables {
        font-size: 20px;
    }

    .container-group {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        /* width: 100% !important; */
        height: 100vh;
        padding-right: calc(var(--mdb-gutter-x)*0.5);
        padding-left: calc(var(--mdb-gutter-x)*0.5);
        margin-right: auto;
        margin-left: auto
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        width: 70% !important;
        padding-right: calc(var(--mdb-gutter-x)*0.5);
        padding-left: calc(var(--mdb-gutter-x)*0.5);
        margin-right: auto;
        margin-left: auto
    }

    .dataTables_paginate {
        margin-top: 15px;
        position: relative;
        text-align: center;
    }

    .slika-iza {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("er-godwyn-the-golden-assassination.jpg");
        position: relative;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        background-position: 100%;
    }

    .btn-outline-warning {
        text-align: start !important;

    }

    .pagination {
        justify-content: center;
    }

    .logo-slika a {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 550px auto;
        height: 140px auto;

    }
}


@media (max-width: 829.98px) {

    div {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        width: 100% !important;
        padding-right: calc(var(--mdb-gutter-x)*0.5);
        padding-left: calc(var(--mdb-gutter-x)*0.5);
        margin-right: auto;
        margin-left: auto
    }

    .dataTables_paginate {
        margin-top: 15px;
        position: relative;
        text-align: center;
    }

    .slika-iza {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("er-godwyn-the-golden-assassination.jpg");
        position: relative;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        background-position: 100%;
    }

    .btn-outline-warning {
        text-align: start !important;
        --bs-btn-padding-x: 0.3rem !important;
        --bs-btn-padding-y: 0.2rem !important;
        font-size: 14px !important;
    }

    table.display .tableheader tr th {
        font-size: 21px !important;
        margin-bottom: 15px !important;
    }

    .pagination {
        justify-content: center;
    }

    .logo-slika a {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 550px auto;
        height: 80px auto;

    }
}

table.display .tableheader tr th {
    color: rgb(209, 127, 20);
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    text-align: center;
}

.dataTables_paginate {
    margin-top: 10px;
    position: relative;
    text-align: center;
}