{% extends 'base/base.html'%}
{% load static %}
{% block group %}
<style>
    .topnav {
          display: none;
    }
  </style>
  <style>
    .smallnav {
          display: none;
    }
  </style>
<div class="container-group">
    <div class="d-flex align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col-9 text-center ">
                    <a class="hover-zoom " href="/lore/1/" style="text-decoration:none;">
                        <img src="{% static 'elden_ring_lore/static/groups/places_1.webp' %}" alt='places.jpg' class="img-fluid hover-shadow rounded-4 my-1 mx-1"></a>
                    <a class="hover-zoom" href="/lore/2/" style="text-decoration:none;">
                        <img src="{% static 'elden_ring_lore/static/groups/groups_1.webp' %}" alt='groups.jpg' class="img-fluid hover-shadow rounded-4 my-1 mx-1"></a>
                    <a class="hover-zoom" href="/lore/3/" style="text-decoration:none;">
                        <img src="{% static 'elden_ring_lore/static/groups/people_1.webp' %}" alt='people.jpg' class="img-fluid hover-shadow rounded-4 my-1 mx-1"></a>
                    <a class="hover-zoom" href="/lore/4/" style="text-decoration:none;">
                        <img src="{% static 'elden_ring_lore/static/groups/events_1.webp' %}" alt='events.jpg' class="img-fluid hover-shadow rounded-4 my-1 mx-1"></a>
                    <a class="hover-zoom" href="/lore/5/" style="text-decoration:none;">
                        <img src="{% static 'elden_ring_lore/static/groups/other_1.webp' %}" alt='other.jpg' class="img-fluid hover-shadow rounded-4 my-1 mx-1"></a>
                    <a class="hover-zoom" href="/lore/6/" style="text-decoration:none;">
                        <img src="{% static 'elden_ring_lore/static/groups/creatures_1.webp' %}" alt='creatures.jpg' class="img-fluid hover-shadow rounded-4 my-1 mx-1"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}