
{% extends 'base/base.html' %}
{% load static %}
{% block content%}

<div class="container-fluid overflow-hidden mt-70">
    <div class="vh-100">
        <div class="row justify-content-center margin-test">
            <table data-page-length='15' id="table" class="display" style="width:100%">
                <thead class="tableheader">
                    <tr><div><a href="{{request.META.HTTP_REFERER|escape}}">Back</a></div>
                        <th class="erlorefont">{{ naziv.0 }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in loreitems %}
                    <tr>
                        <td class="erlorefont"><button type="button" class="btn btn-outline-warning mb-1"  data-mdb-toggle="modal" data-mdb-target="#erModal{{ forloop.counter }}">
                            
                                {{ item.item_title }}
                            
                        </button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
 
                 <!-- Modal -->
                 {% for item in loreitems %}
                 <div class="modal fade" id="erModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="ERModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                        <h5 class="modal-title" id="ERModalLabel">{{ item.item_title }}</h5>
                        </div>
                        <div class="modal-body img-responsive">
                        <p>{{ item.item_description}}</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

