
{% extends 'base/base.html' %}
{% load static %}
{% block content%}

<div class="container-fluid overflow-hidden mt-70" style="width: 50%;">
    <div class="vh-100">
        <div class="row justify-content-center mx-5">
            <table id="table" class="display">
                <thead class="tableheader">
                    <tr><a href="{{request.META.HTTP_REFERER|escape}}">Back</a>
                        <th>{{ naziv.0 }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in loreitems %}
                    <tr>
                        <td><button type="button" class="btn btn-outline-warning border-0" style="white-space: normal; font-size : 17px;" data-mdb-toggle="modal" data-mdb-target="#erModal{{ forloop.counter }}">
                            {% comment %} <p1 style="font-size : 17px; width: 100%; height: 100px; "> {% endcomment %}
                                <style="text-align:left; width:100%; overflow: hidden;">{{ item.item_title }}</style>
                            {% comment %} </p1> {% endcomment %}
                        </button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
 
                 <!-- Modal -->
                 {% for item in loreitems %}
                 <div class="modal fade" id="erModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="ERModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="ERModalLabel">{{ item.item_title }}</h5>
                        <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>{{ item.item_description}}</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

