{% extends 'base/base.html'%}
{% block items %}
<div class="container overflow-hidden mt-70">
    <div class="vh-100">
        <div class="row justify-content-center margin-test">
                <h3 class="text-white mb-0"><table data-page-length='15' id="table" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">{{ title.0 }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lore_list %}
                        <tr> 
                            <td><a style="text-decoration:none" href="{% url 'lores:loreitems' item.id %}">{{item}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table></h3>
        </div>
    </div>
</div>
{% endblock %}